
a#sendToA4L {
    color: black; 
    background-color: white; 
    float: right; 
    margin-right: 20px;
}

a#sendToA4L img {
    margin-bottom: 3px; 
    height: 20px;
}

a#sendToA4L span {
    float: right;
    color: red;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 5px;
}